<div class="container">
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card-panel teal lighten-2">
          <h4 class="center white-text">Ornament Nosepin</h4>
        </div>
        <form #imageForm=ngForm (ngSubmit)="OnSubmit(ORNAMENT_TYPE,ORNAMENT_MATERIAL,ORNAMENT_SHOPFOR,WEIGHT,ORNAMENT_METAL,ORNAMENT_OCCASION,ORNAMENT_GIFT, ORNAMENT_THEME,ORNAMENT_CURATED_BY, ORNAMENT_FESTIVAL,ORNAMENT_NOSEPIN_STYLE, CAD_FILE ,IMAGE_FILE_ONE,IMAGE_FILE_TWO, IMAGE_FILE_THREE)">
          <p>It is mandatory that you fill all the fields </p>
          <div class="row">


            <div class="input-field col s6">
                <select class="browser-default" #ORNAMENT_TYPE ngModel name="ORNAMENT_TYPE"  required>
                    <option value="" disabled selected>Choose ornament type</option>
                    <option value="3" >Nosepin</option>
                </select>
            </div>
            <div class="input-field col s6">
              <select class="browser-default"#ORNAMENT_MATERIAL ngModel name="ORNAMENT_MATERIAL"  required>
                <option value="" disabled selected>Choose your material</option>
                <option value="1"> Diamond Studded</option>
                <option value="2" >Gemstone Studded</option>
                <option value="3" >Diamond with Gemstone</option>
                <option value="4" >Simple Plain</option>
                <option value="5" >Casting Plain</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <select class="browser-default"#ORNAMENT_SHOPFOR ngModel name="ORNAMENT_SHOPFOR" required>
                <option value="" disabled selected>Choose Shopfor</option>
                <option value="1"> Women</option>
                <option value="2" >Men</option>
              </select>
            </div>
            <div class="input-field col s4">
              <input id="weight" class="validate" type="text" #WEIGHT ngModel name="WEIGHT" required>
              <label for="weight">Weight</label>
            </div>
            <div class="input-field col s4 ">
              <select class="browser-default" #ORNAMENT_NOSEPIN_STYLE ngModel name="ORNAMENT_NOSEPIN_STYLE"  required>
                  <option value="" disabled selected>Choose ornament nosepin STYLE</option>
                  <option value="1"> Wire</option>
                  <option value="2" >Ring</option>
                  <option value="3" >Screw</option>
              </select>
            </div>
            
          </div>
          <div class="row">
            <div class="input-field col s6">
              <p>
                <label>
                  <input type="checkbox" id ="zero" class="filled-in" (change)="zero()"  required/>
                  <span>check me when you are done selecting</span>
                </label>
              </p>
                <ul class="collection answer">
                    <p>select Your Metal</p>
                    <ng-container *ngFor ="let answer of Metal.ORNAMENT_METAL; let i = index">
                     <li>
                      <label>
                        <input type="checkbox" id="oo" class="filled-in" value ="1"(click)="Ornmetal(answer.pk)" #ORNAMENT_METAL ngModel name="ORNAMENT_METAL"  />
                        <span>{{answer.METAL}}</span>
                      </label>
                     </li> 
                    </ng-container>
                </ul>
            </div>
            <div class="input-field col s6">
              <p>
                <label>
                  <input type="checkbox" id ="1" class="filled-in" (change)="one()"  required/>
                  <span>check me when you are done selecting</span>
                </label>
              </p>
              <ul class="collection answer">
                  <p> Select your Occasion</p>
                  <ng-container *ngFor ="let answer of Occasion.ORNAMENT_OCCASION; let i = index">
                   <li>
                    <label>
                      <input type="checkbox" class="filled-in" value ="1"(click)="Answer(answer.pk)" #ORNAMENT_OCCASION ngModel name="ORNAMENT_OCCASION"  />
                      <span>{{answer.OCCASION}}</span>
                    </label>
                   </li> 
                  </ng-container>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <p>
                <label>
                  <input type="checkbox" id ="2" class="filled-in" (change)="two()"  required/>
                  <span>check me when you are done selecting</span>
                </label>
              </p>

              <ul class="collection answer">
                <p> Select your Gift Type</p>

                <ng-container *ngFor ="let answer of Gift.ORNAMENT_GIFT; let i = index"  >
                 <li>
                  <label>
                    <input type="checkbox" class="filled-in" value ="1" (click)="Ornagift(answer.pk)" #ORNAMENT_GIFT ngModel name="ORNAMENT_GIFT"  />
                    <span>{{answer.GIFT}}</span>
                  </label>
                 </li> 
                </ng-container>
              </ul>
            </div>
            <div class="input-field col s6">
              <p>
                <label>
                  <input type="checkbox" id ="3" class="filled-in" (change)="three()"  required/>
                  <span>check me when you are done selecting</span>
                </label>
              </p>
              <ul class="collection answer">
                <p> Select your Theme</p>
                <ng-container *ngFor ="let answer of Theme.ORNAMENT_THEME; let i = index"  >
                 <li>
                  <label>
                    <input type="checkbox" class="filled-in" value ="1" (click)="Ornatheme(answer.pk)" #ORNAMENT_THEME ngModel name="ORNAMENT_THEME"  />
                    <span>{{answer.THEME}}</span>
                  </label>
                 </li> 
                </ng-container>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <p>
                <label>
                  <input type="checkbox" id ="4" class="filled-in" (change)="four()"  required/>
                  <span>check me when you are done selecting</span>
                </label>
              </p>
              <ul class="collection answer">
                <p> Select your Curated By</p>
                <ng-container *ngFor ="let answer of Curated.ORNAMENT_CURATED_BY; let i = index"  >
                 <li>
                  <label>
                    <input type="checkbox" class="filled-in" value ="1" (click)="OrnaCurated(answer.pk)" #ORNAMENT_CURATED_BY ngModel name="ORNAMENT_CURATED_BY"  />
                    <span>{{answer.CURATED_BY}}</span>
                  </label>
                 </li> 
                </ng-container>
              </ul>
            </div>
            <div class="input-field col s6 "> 
              <p>
                <label>
                  <input type="checkbox" id ="5" class="filled-in" (change)="five()"  required/>
                  <span>check me when you are done selecting</span>
                </label>
              </p>
              <ul class="collection answer">
                <p>Select your Festival</p>
                <ng-container *ngFor ="let answer of Festival.ORNAMENT_FESTIVAL; let i = index"  >
                 <li>
                  <label>
                    <input type="checkbox" class="filled-in" value ="1" (click)="Ornafesti(answer.pk)" #ORNAMENT_FESTIVAL ngModel name="ORNAMENT_FESTIVAL"  />
                    <span>{{answer.FESTIVAL}}</span>
                  </label>
                 </li> 
                </ng-container>
              </ul>
            </div>
          </div>
          <input type="file" #CAD_FILE accept="image/*" (change)="handleFileInput($event.target.files)">

          <input type="file" #IMAGE_FILE_ONE accept="image/*" (change)="handleFileInputone($event.target.files)">

          <input type="file" #IMAGE_FILE_TWO accept="image/*" (change)="handleFileInputtwo($event.target.files)">

          <input type="file" #IMAGE_FILE_THREE accept="image/*" (change)="handleFileInputthree($event.target.files)">

          <button type="submit" class="btn-large btn-submit" [disabled]="CAD_FILE.value=='' || IMAGE_FILE_ONE.value=='' || IMAGE_FILE_TWO.value=='' || IMAGE_FILE_THREE.value=='' || !imageForm.valid">Create your new Nosepin Ornament</button>
        </form>
      </div>
    </div>
</div>
