<div class="navbar-fixed">
  <nav class="blue-grey">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="nav">
          <a (click)="Logout()">Logout</a>
        </li>
        <li>
          <a (click)=changepassword()>Change Password</a>
        </li>
        <li>
          <a (click)=Createornaments()>Create new Ornament</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
    <div class="col s10 offset-s1">
      <div class="sm-jumbotron center-align">
        <h5>Your Product Description</h5>
      </div>
      <div class="input-field col s6 offset-s3">
        <img src="assets\loading-4.gif" style="width:250px;height:150px;   border: 1px solid #ddd; border-radius: 4px;padding: 5px;"  alt="" *ngIf ="loading == true">
      </div>
      <div class="card" *ngIf="data.ornament_info">
        <div class="card-image col s6">
          <img src="{{data.ornament_filefield.IMAGE_FILE_ONE}}">
        </div>
        <div class="card-content col s6" style="padding-left: 30px;">
          <p style="font-size:x-large;"><strong>
            {{data.ornament_info.ORNAMENT_TYPE}} for {{data.ornament_info.ORNAMENT_SHOP_FOR}}
          </strong>
          </p>
          <p style="color:gray">
            Material : {{data.ornament_info.ORNAMENT_MATERIAL}}
          </p>
          <br>
          <p style="font-size:large;">{{data.ornament_info.WEIGHT}} gms</p>
          <br><hr><br>
          <div *ngIf="data.ornament_category">
            <h6 class="view" *ngIf="data.ornament_category">ORNAMENT METAL:</h6>
            <p  ><li class="view" *ngFor="let metal of  data.ornament_category.ORNAMENT_METAL" >{{metal.METAL}} <span></span> </li></p>
          </div>
          <div *ngIf="data.ornament_category">
            <h6 class="view" *ngIf="data.ornament_category">BEST SUITED OCCASION :</h6>
            <p  ><li class="view" *ngFor="let metal of  data.ornament_category.ORNAMENT_OCCASION" >{{metal.OCCASION}} </li></p>
          </div>
          <div *ngIf="data.ornament_category">
            <h6 class="view" *ngIf="data.ornament_category">BEST GIFT FOR :</h6>
            <p  ><li class="view"  *ngFor="let metal of  data.ornament_category.ORNAMENT_GIFT" >{{metal.GIFT}}</li></p>
          </div>
          <div *ngIf="data.ornament_category">
            <h6 class="view" *ngIf="data.ornament_category">THEME OF ORNAMENT :</h6>
            <p  ><li class="view" *ngFor="let metal of  data.ornament_category.ORNAMENT_THEME">{{metal.THEME}}</li></p>
          </div>
          <div *ngIf="data.ornament_category">
            <h6 class="view" *ngIf="data.ornament_category">CURATED BY :</h6>
            <p  ><li class="view"  *ngFor="let metal of  data.ornament_category.ORNAMENT_CURATED_BY" >{{metal.CURATED_BY}}</li></p>
          </div>
          <div *ngIf="data.ornament_category">
            <h6 class="view" *ngIf="data.ornament_category">ORNAMENT BEST FIT FOR FESTIVALS :</h6>
            <p  ><li class="view"  *ngFor="let metal of  data.ornament_category.ORNAMENT_FESTIVAL" >{{metal.FESTIVAL}}</li></p>
          </div>
          <br><br><hr><br>
          <h5>Description</h5>
          <table style="width:100%" >
            <tr *ngIf="data.ornament_nosepin">
              <th *ngIf="data.ornament_nosepin">NOSEPIN STYLE:</th>
              <td>{{data.ornament_nosepin.ORNAMENT_NOSEPIN_STYLE}}</td>
            </tr>
            <tr *ngIf="data.ornament_earring">
              <th *ngIf="data.ornament_earring">EARRING STYLE:</th>
              <td>{{data.ornament_earring.ORNAMENT_EARRING_STYLE}}</td>
            </tr>
            <tr *ngIf="data.ornament_necklace">
              <th *ngIf="data.ornament_necklace">NECKLACE STYLE:</th>
              <td>{{data.ornament_necklace.ORNAMENT_NECKLACE_STYLE}}</td>
            </tr>
            <tr *ngIf="data.ornament_ring">
              <th *ngIf="data.ornament_ring">RING STYLE:</th>
              <td>{{data.ornament_ring.ORNAMENT_RING_STYLE}}</td>
            </tr>
            <tr *ngIf="data.ornament_ring">
              <th *ngIf="data.ornament_ring">ORNAMENT_RING_SIZE:</th>
              <td><li *ngFor="let metal of  data.ornament_ring.ORNAMENT_RING_SIZE" >{{metal.RING_SIZE}}</li></td>
            </tr>
            <tr *ngIf="data.ornament_bracelet">
              <th *ngIf="data.ornament_bracelet">BRACELET STYLE:</th>
              <td>{{data.ornament_bracelet.ORNAMENT_BRACELET_STYLE}}</td>
            </tr>
            <tr *ngIf="data.ornament_bracelet">
              <th *ngIf="data.ornament_bracelet">BRACELET SIZE:</th>
              <td><li *ngFor="let metal of  data.ornament_bracelet.ORNAMENT_BRACELET_SIZE" >{{metal.BRACELET_SIZE}}</li></td>
            </tr>
            <tr *ngIf="data.ornament_pendant">
              <th *ngIf="data.ornament_pendant">PENDANT STYLE :</th>
              <td>{{data.ornament_pendant.ORNAMENT_PENDANT_STYLE}}</td>
            </tr>
            <tr *ngIf="data.ornament_chain">
              <th *ngIf="data.ornament_chain">CHAIN STYLE:</th>
              <td>{{data.ornament_chain.ORNAMENT_CHAIN_STYLE}}</td>
            </tr>
            <tr *ngIf="data.ornament_chain">
              <th *ngIf="data.ornament_chain">CHAIN LENGTH:</th>
              <td><li *ngFor="let metal of  data.ornament_chain.ORNAMENT_CHAIN_LENGTH" >{{metal.CHAIN_LENGTH}}</li></td>
            </tr>
            <tr *ngIf="data.ornament_bangle">
              <th *ngIf="data.ornament_bangle">BANGLE STYLE:</th>
              <td>{{data.ornament_bangle.ORNAMENT_BANGLE_STYLE}}</td>
            </tr>
            <tr *ngIf="data.ornament_bangle">
              <th *ngIf="data.ornament_bangle">BANGLE SIZE:</th>
              <td><li *ngFor="let metal of  data.ornament_bangle.ORNAMENT_BANGLE_SIZE" >{{metal.BANGLE_SIZE}}</li></td>
            </tr>
            <tr *ngIf="data.ornament_center_stone">
              <th *ngIf="data.ornament_center_stone">CENTER STONE WEIGHT:</th>
              <td>{{data.ornament_center_stone.ORNAMENT_CENTER_STONE_WEIGHT}}</td>
            </tr>
            <tr *ngIf="data.ornament_center_stone">
              <th *ngIf="data.ornament_center_stone">CENTER STONE SHAPE:</th>
              <td>{{data.ornament_center_stone.ORNAMENT_CENTER_STONE_SHAPE}}</td>
            </tr>
            <tr *ngIf="data.ornament_gemstone">
              <th *ngIf="data.ornament_gemstone">GEMSTONE </th>
              <td>{{data.ornament_gemstone.ORNAMENT_GEMSTONE}}</td>
            </tr>
            <tr *ngIf="data.ornament_gemstone">
              <th *ngIf="data.ornament_gemstone">GEMSTONE_COLOR:</th>
              <td>{{data.ornament_gemstone.ORNAMENT_GEMSTONE_COLOR}}</td>
            </tr>
          </table>
          <br><hr>
        </div>
            <button class="btn-large btn-submit " type="submit" (click)="update(data.ornament_info.ORNAMENT_TYPE,data.ornament_info.ORNAMENT_MATERIAL)"><i class="material-icons right">settings_backup_restore</i>Update this Ornament</button>
            <br><br>
            <button class="btn-large btn-submit " type="submit" (click)="delete()">Delete This Ornament<i class="material-icons right">delete_sweep</i></button>
            <br><br>
      </div>
    </div>
  </div>