<div class="container">
    <div class="row">
      <div class="col s8 offset-2">
        <div class="card-panel teal lighten-2">
          <h4 class="center white-text">Ornament Form</h4>
        </div>
        <form #imageForm=ngForm (ngSubmit)="OnSubmit(ORNAMENT_TYPE,ORNAMENT_MATERIAL,ORNAMENT_SHOPFOR,WEIGHT,ORNAMENT_METAL,ORNAMENT_OCCASION,ORNAMENT_GIFT, ORNAMENT_THEME,ORNAMENT_CURATED_BY, ORNAMENT_FESTIVAL, CAD_FILE ,IMAGE_FILE_ONE,IMAGE_FILE_TWO, IMAGE_FILE_THREE)">
          <p>It is mandatory that you fill all the fields </p>
          <div class="row">


            <div class="input-field col s6">
                <select class="browser-default" #ORNAMENT_TYPE ngModel name="ORNAMENT_TYPE"  required>
                    <option value="" disabled selected>Choose ornament type</option>
                    <option value="1"> Ring</option>
                    <option value="2" >Ear Ring</option>
                    <option value="3" >Nosepin</option>
                    <option value="4" >Bracelet</option>
                    <option value="5" >Bangles</option>
                    <option value="6" >Chain</option>
                    <option value="7" >Chain with Pendant</option>
                    <option value="8" >Necklace</option>
                    <option value="9" >Mangalsutra</option>
                    <option value="10" >Sets</option>
                    <option value="11" >Pendant</option>
                    <option value="12" >Pendant with Earring</option>
                    <option value="13" >Cuff Link</option>
                </select>
            </div>
            <div class="input-field col s6">
              <select class="browser-default"#ORNAMENT_MATERIAL ngModel name="ORNAMENT_MATERIAL"  required>
                <option value="" disabled selected>Choose your material</option>
                <option value="1"> Diamond Studded</option>
                <option value="2" >Gemstone Studded</option>
                <option value="3" >Diamond with Gemstone</option>
                <option value="4" >Simple Plain</option>
                <option value="5" >Casting Plain</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select class="browser-default"#ORNAMENT_SHOPFOR ngModel name="ORNAMENT_SHOPFOR" required>
                <option value="" disabled selected>Choose Shopfor</option>
                <option value="1"> Women</option>
                <option value="2" >Men</option>
              </select>
            </div>
            <div class="input-field col s6">
              <select class="browser-default" #WEIGHT ngModel name="WEIGHT" id="WEIGHT" required>
                <option value="" disabled selected>Choose your Ornament Weight</option>
                <option value="1"> 1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select class="browser-default" #ORNAMENT_METAL ngModel name="ORNAMENT_METAL" required>
                <option value="" disabled selected>Choose your Ornament Metal</option>
                <option value="1"> Diamond Studded</option>
                <option value="2" >Gemstone Studded</option>
                <option value="3" >Diamond with Gemstone</option>
                <option value="4" >Simple Plain</option>
                <option value="5">Casting Plain</option>
              </select>
            </div>
            <div class="input-field col s6">
              <select class="browser-default" #ORNAMENT_OCCASION ngModel name="ORNAMENT_OCCASION"  required>
                <option value="" disabled selected>Choose your Ornament Occasion</option>
                <option value="1"> Wedding</option>
                <option value="2" >Anniversary</option>
                <option value="3" >Evening</option>
                <option value="4" >Work-Wear</option>
                <option value="5" >Everyday</option>
                <option value="6" >Birthday</option>
                <option value="7" >Engagement</option>
                <option value="8" >Graduation</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select class="browser-default" #ORNAMENT_GIFT ngModel name="ORNAMENT_GIFT"  required>
                <option value="" disabled selected>Choose your Ornament Gift Type </option>
                <option value="1"> Gift for Kids</option>
                <option value="2" >Gift for Babies</option>
                <option value="3" >Your Baby First Ornament</option>
                <option value="4" >Fun Designs for New Borns</option>
                <option value="5"> Gift for Sister</option>
                <option value="6" >Gift for Fashion Forward</option>
                <option value="7" >Gift for Classy Sister</option>
                <option value="8" >Gift for Baby Sister</option>            
                <option value="9"> Gift for Creative Sister</option>
                <option value="10" >Gift for Daughter</option>
                <option value="11"> Gift for Mom</option>
                <option value="12" >The Cool Mom</option>
                <option value="13" >The Creative Mom</option>
                <option value="14" >The Classic Mom</option>
                <option value="15"> Mom and Me</option>
                <option value="16" >Mother's Day</option>
                <option value="17" >Gift for Father</option>
                <option value="18" >Father's Day</option>
                <option value="19"> Gift for Brother</option>
                <option value="20" >Gift for Wife</option>
                <option value="21" >Gift for Husband</option>
                <option value="22" >Gift for Girlfriend</option>            
                <option value="23"> Gift for Boyfriend</option>
                <option value="24" >Birthday Gift for Her</option>
                <option value="25"> Birthday Gift for Him</option>
                <option value="26" >Wedding Gift for Her</option>
                <option value="27" >Wedding Gift for Him</option>
                <option value="28" >Anniversary Gift for her</option>
                <option value="29" >Anniversary Gift for Him</option>
                <option value="30" >Gift for Bestfriend</option>
              </select>
            </div>
            <div class="input-field col s6">
              <select class="browser-default" #ORNAMENT_THEME ngModel name="ORNAMENT_THEME"  required>
                <option value="" disabled selected>Choose your ornament theme</option>
                <option value="1"> Classic</option>
                <option value="2" >Leaf</option>
                <option value="3" >Contemporary</option>
                <option value="4" >Designer</option>
                <option value="5"> Fashion</option>
                <option value="6" >Heart</option>
                <option value="7" >Religious</option>
                <option value="8" >Traditional</option>            
                <option value="9"> Couple Bands</option>
                <option value="10" >Butterfly</option>
                <option value="11"> Cluster</option>
                <option value="12" >Geometry</option>
                <option value="13" >Antique</option>
                <option value="14" >Italian</option>
                <option value="15"> Indian</option>
                <option value="16" >Tassels</option>
                <option value="17" >Navratna</option>
                <option value="18" >Seven Stone</option>
                <option value="19"> Alphabet</option>
                <option value="20" >Ethnic</option>
                <option value="21" >Promise Ring</option>
                <option value="22" >Quirky</option>            
                <option value="23"> Bow</option>
                <option value="24" >Minimalist</option>
                <option value="25"> Enchanted Animal Design</option>
                <option value="26" >Star Shaped Jewellery</option>
                <option value="27" >Modern</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select class="browser-default" #ORNAMENT_CURATED_BY ngModel name="ORNAMENT_CURATED_BY"  required>
                <option value="" disabled selected>Choose your Curated-By</option>
                <option value="1"> New Arrivals</option>
                <option value="2" >The Warrior</option>
                <option value="3" >The Givers</option>
                <option value="4" >Most Whislisted</option>
                <option value="5"> Best Sellers</option>
                <option value="6" >The Trendsetter</option>
                <option value="7" >Limited Edition</option>
                <option value="8" >Star of the Month</option>            
                <option value="9"> Top Picks</option>
                <option value="10" >The Creative</option>
                <option value="11"> The Ethnic One</option>
                <option value="12" >Playful Styles</option>
                <option value="13" >Super Cute Studs</option>
                <option value="14" >Special Gifts</option>
                <option value="15"> Funky Styles for Teens</option>
                <option value="16" >Romantic Gift</option>
                <option value="17" >Perfect Love Gifts</option>
                <option value="18" >Valentine for Everyone</option>
              </select>
            </div>
            <div class="input-field col s6">
              <select class="browser-default"  #ORNAMENT_FESTIVAL ngModel name="ORNAMENT_FESTIVAL"  required>
                <option value="" disabled selected>Choose Ornament Festival</option>
                <option value="1"> New Year Edition</option>
                <option value="2" >Uttarayan Edition</option>
                <option value="3" >Holi Edition</option>
                <option value="4" >Shivratri Edition</option>
                <option value="5"> The Durga Puja</option>
                <option value="6" >Raksha Bandhan Edition</option>
                <option value="7" >Navratri Edition</option>
                <option value="8" >Karva Chauth Edition</option>            
                <option value="9"> Akshay Trithya Edition</option>
                <option value="10" >Party Edition</option>
                <option value="11"> Christmas Edition</option>
                <option value="12" >Dhanteras Edition</option>
                <option value="13" >Diwali Edition</option>
              </select>
            </div>
          </div>
          <input type="file" #CAD_FILE accept="image/*" (change)="handleFileInput($event.target.files)">

          <input type="file" #IMAGE_FILE_ONE accept="image/*" (change)="handleFileInputone($event.target.files)">

          <input type="file" #IMAGE_FILE_TWO accept="image/*" (change)="handleFileInputtwo($event.target.files)">

          <input type="file" #IMAGE_FILE_THREE accept="image/*" (change)="handleFileInputthree($event.target.files)">

          <button type="submit" class="btn-large btn-submit" [disabled]="CAD_FILE.value=='' || IMAGE_FILE_ONE.value=='' || IMAGE_FILE_TWO.value=='' || IMAGE_FILE_THREE.value=='' || !imageForm.valid">Create your new Ornament</button>
        </form>
      </div>
    </div>
</div>