<div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <h2>Change Password</h2>
        </div>
          <form class="col s12 white" #passwordChangeForm="ngForm" (ngSubmit)="OnSubmit(passwordChangeForm)">
            <div class="row">
              <div class="input-feild col s6"> 
                <input type="password" class="validate"
                 name="old_password" #old_password="ngModel"
                  [(ngModel)]="password.old_password" required placeholder="old_password">
              </div>
              <div class="input-feild col s6">
                  <input class="validate" type="password"
                   name="new_password" #new_password="ngModel" 
                   [(ngModel)]="password.new_password" required  placeholder="New Password">
              </div>
            </div>
            <div class="row">
                <div class="input_feild col s6">
                    <input type="password" class="validate" 
                    name="confirm_new_password" #confirm_new_password="ngModel" 
                    [(ngModel)]="password.confirm_new_password" required placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <button [disabled]="!passwordChangeForm.valid" class="btn-large btn-submit" type="submit">Change Password</button>
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>