<app-navbar></app-navbar>
<hr>
<div class="container">

</div>
<div class="header col s12">
  <h2 style="color: white;">Choose your Ornament type</h2>
  <div class="row" >
    <div class="input-field col s8 offset-s2 ">
        <select class="browser-default" (change)="gemOption($event.target.value)">
            <option value="" disabled selected>CHOOSE YOUR ORNAMENT TYPE</option>
            <option value="1"> Ring</option>
            <option value="2" >Nosepin</option>
            <option value="3" >Earring</option>
            <option value="4" >Bracelet</option>
            <option value="5" >Bangles</option>
            <option value="6" >chain with pendant</option>
            <option value="7"> Necklace</option>
            <option value="8" >Mangalsutra</option>
            <option value="9" >Sets</option>
            <option value="10" >Chain</option>
            <option value="11" >Pendant</option>
            <option value="12" >pendant with earing</option>
            <option value="13" >Cufflink</option>
        </select>
    </div>
  </div>
</div><hr>