<div class="container">
    <div class="row">
      <div class="col s8 offset-2">
          <div class="card-panel blue-grey">
            <h4 class="center white-text">Choose your Ornament type</h4>
          </div>
    
          <button class="btn-large btn-submit" type="submit" (click)=ring()>ring</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=earring()>earring</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=nosepin()>nosepin</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=bracelet()>bracelet</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=bangles()>bangles</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=chain()>chain</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=chainwithpendant()>chain with pendant</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=necklace()>necklace</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=Mangalsutra()>Mangalsutra</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=sets()>sets</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=pendant()>pendant</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=pendantwithearing()>pendant with earing</button><hr>
          <button class="btn-large btn-submit" type="submit" (click)=cufflink()>cufflink</button><hr>
      
      </div>
    </div>
</div>