<app-navbar></app-navbar>

<hr>
<div class="row" >
    <div class="col s12 ">
        <div class="sm-jumbotron center-align">
          <h5 style="color: white">Your Profile</h5>
        </div>
        <div class="card blue-white darken-1"  >
          <div class="input-field col s6 offset-s3">
            <img src="assets\loading-4.gif" style="width:250px;height:150px;   border: 1px solid #ddd; border-radius: 4px;padding: 5px;"  alt="" *ngIf ="loading == true">
          </div>
          <div class="card-content white-text " *ngIf="data.data">
            <div class="row col s10 offset-s1 ">
              <h5>Personal Info</h5>
              <hr><br>
              <p class= "col s4"><strong>Name of Your Firm : </strong></p>
              <p class= "col s8"> {{data.data.NAME_OF_FIRM}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>Firm Address: </strong></p>
              <p class= "col s8"> {{data.data.ADDRESS_OF_FIRM}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>STATE : </strong> </p>
              <p class= "col s8">{{data.data.STATE}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>City : </strong></p>
              <p class= "col s8">{{data.data.CITY}}</p>
            </div>
            <div class="row col s10 offset-s1 ">
              <h5>Contact and Details</h5>
              <hr><br>
              <p class= "col s4"><strong>Contact Name : </strong> </p>
              <p class= "col s8">{{data.data.CONTACT_NAME}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>Contact Number : </strong></p>
              <p class= "col s8"> {{data.data.CONTACT_NUMBER}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>Contact Mail ID : </strong></p>
              <p class= "col s8">{{data.data.CONTACT_MAIL_ID}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>GST Number : </strong></p>
              <p class= "col s8">{{data.data.GST_NUMBER}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>Pan Number: </strong></p>
              <p class= "col s8">{{data.data.PAN_NUMBER}}</p>
            </div>
            <div class="row col s10 offset-s1 ">
              <h5>Owner info</h5>
              <hr><br>
              <p class= "col s4"><strong>Owner Name: </strong></p>
              <p class= "col s8">{{data.data.OWNER_NAME}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>Owner Number : </strong></p>
              <p class= "col s8">{{data.data.OWNER_NUMBER}}</p>
              <br><br><hr><br>
              <p class= "col s4"><strong>Owner Email : </strong></p>
              <p class= "col s8">{{data.data.OWNER_EMAIL}}</p>
            </div>
            <div class="row" >
              <div class="col s6 offset-s3">
                  <button class="btn-large btn-submit" type="submit" [routerLink]="['/update']"><i class="material-icons right">settings_backup_restore</i>Update</button>
                  <br><hr>
                  <button class="btn-large btn-submit" type="submit" [routerLink]="['/types']"><i class="material-icons right">pages</i>create Your New Ornament</button>
                  <br><hr>
                  <button class="btn-large btn-submit" type="submit" [routerLink]="['/ornamentread']"><i class="material-icons right">mood</i>Your Ornaments</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--div class="header col s12">
    <h2>More Interactive  Options</h2>
    <ul class="link-buttons">
        <li><a class="waves-effect waves-light btn-large" [routerLink]="['/update']"><i class="material-icons right">settings_backup_restore</i>Update your Profile</a></li>
        <li><a class="waves-effect waves-light btn-large" [routerLink]="['/types']"><i class="material-icons right">pages</i>Create new ornament</a></li>
        <li><a class="waves-effect waves-light btn-large" [routerLink]="['/ornamentread']" ><i class="material-icons right">mood</i>Your Ornaments</a></li>
    </ul>
  </div-->
