<app-navbar></app-navbar>

<div class="row" >
    <div class="col s8 offset-s2">
        <div class="sm-jumbotron center-align">
          <h5>Your Profile</h5>
        </div>
        <div class="card blue-white darken-1" *ngIf ="data.value" >
          <div class="card_content white_text" >
            <p><strong>Name of Your Firm : </strong> {{data.value.NAME_OF_FIRM}}</p>
            <p><strong>Address OF  Your Firm : </strong> {{data.value.ADDRESS_OF_FIRM}}</p>
            <p><strong>City : </strong>{{data.value.CITY}}</p>
            <p><strong>STATE : </strong> {{data.value.STATE}}</p>
            <p><strong>Your Contact Name : </strong> {{data.value.CONTACT_NAME}}</p>
            <p><strong> Your Contact Number : </strong> {{data.value.CONTACT_NUMBER}}</p>
            <p><strong> Your Contact Mail ID : </strong>{{data.value.CONTACT_MAIL_ID}}</p>
            <p><strong>GST Number : </strong>{{data.value.GST_NUMBER}}</p>
            <p><strong>Pan Number: </strong>{{data.value.PAN_NUMBER}}</p>
            <p><strong>Owner Name: </strong>{{data.value.OWNER_NAME}}</p>
            <p><strong>Owner Number : </strong> {{data.value.OWNER_NUMBER}}</p>
            <p><strong>Owner Email : </strong> {{data.value.OWNER_EMAIL}}</p>
            <p><strong>Username : </strong>{{data.value.username}}</p> 
            <p><strong>Jeweller ID : </strong> {{data.value.jeweller_id}}</p>
          </div>
        </div>
        <div class="sm-jumbotron center-align">
            <a class="waves-effect waves-light btn-large"  (click)=update()>Update</a>
          </div>
    </div>
</div>

