<div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <h2>Update</h2>
        </div>
          <form class="col s12 white" #updateForm="ngForm" (ngSubmit)="OnSubmit(updateForm)">
            <div class="row">
              <div class="input-feild col s6"> 
                <input type="text" class="validate" name="NAME_OF_FIRM" #NAME_OF_FIRM="ngModel" [(ngModel)]="jeweller.NAME_OF_FIRM"  required placeholder="NAME OF FIRM">
              </div>
              <div class="input-feild col s6">
                  <input class="validate" type="text" name="ADDRESS_OF_FIRM" #ADDRESS_OF_FIRM="ngModel" [(ngModel)]="jeweller.ADDRESS_OF_FIRM" required  placeholder="ADDRESS OF FIRM">
              </div>
            </div>
            <div class="row">
                <div class="input-feild col s6"> 
                  <input type="text" class="validate" name="CITY" #CITY="ngModel" [(ngModel)]="jeweller.CITY"  required placeholder="CITY">
                </div>
                <div class="input-feild col s6">
                    <input class="validate" type="text" name="STATE" #STATE="ngModel" [(ngModel)]="jeweller.STATE" required  placeholder="STATE">
                </div>
              </div>
              <div class="row">
                <div class="input-feild col s6"> 
                  <input type="text" class="validate" name="CONTACT_NAME" #CONTACT_NAME="ngModel" [(ngModel)]="jeweller.CONTACT_NAME" required placeholder="CONTACT NAME">
                </div>
                <div class="input-feild col s6">
                    <input class="validate" type="text" name="CONTACT_NUMBER" #CONTACT_NUMBER="ngModel" [(ngModel)]="jeweller.CONTACT_NUMBER" required  placeholder="CONTACT NUMBER">
                </div>
              </div>
              <div class="row">
                <div class="input-feild col s6"> 
                  <input type="text" class="validate" name="CONTACT_MAIL_ID" #CONTACT_MAIL_ID="ngModel" [(ngModel)]="jeweller.CONTACT_MAIL_ID" [pattern]="emailPattern" required placeholder="CONTACT MAIL ID">
                </div>
                <div class="input-feild col s6">
                    <input class="validate" type="text" name="GST_NUMBER" #GST_NUMBER="ngModel" [(ngModel)]="jeweller.GST_NUMBER" required  placeholder="GST NUMBER">
                </div>
              </div>
              <div class="row">
                <div class="input-feild col s6"> 
                  <input type="text" class="validate" name="PAN_NUMBER" #PAN_NUMBER="ngModel" [(ngModel)]="jeweller.PAN_NUMBER" required placeholder="PAN NUMBER">
                </div>
                <div class="input-feild col s6">
                    <input class="validate" type="text" name="OWNER_NAME" #OWNER_NAME="ngModel" [(ngModel)]="jeweller.OWNER_NAME" required  placeholder="OWNER NAME">
                </div>
              </div>
            <div class="row">
                <div class="input_feild col s6">
                    <input type="text" class="validate" name="OWNER_NUMBER" #OWNER_NUMBER="ngModel" [(ngModel)]="jeweller.OWNER_NUMBER" required placeholder="OWNER NUMBER">
                </div>
                <div class="input_feild col s6">
                    <input type="text" class="validate" name="OWNER_EMAIL" #OWNER_EMAIL="ngModel" [(ngModel)]="jeweller.OWNER_EMAIL"  [pattern]="emailPattern"  required placeholder="OWNER EMAIL">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <button [disabled]="!updateForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>