<div class="container">
    <div class="row">
      <div class="col s8 offset-2">
        <div class="card-panel teal lighten-2">
          <h4 class="center white-text">Image Library</h4>
        </div>
        <form #imageForm=ngForm (ngSubmit)="OnSubmit(ORNAMENT_TYPE,ORNAMENT_MATERIAL,ORNAMENT_SHOPFOR,WEIGHT,ORNAMENT_METAL,ORNAMENT_OCCASION,ORNAMENT_GIFT, ORNAMENT_THEME,ORNAMENT_CURATED_BY, ORNAMENT_FESTIVAL, CAD_FILE ,IMAGE_FILE_ONE,IMAGE_FILE_TWO, IMAGE_FILE_THREE)">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_TYPE ngModel name="ORNAMENT_TYPE" id="ORNAMENT_TYPE" required>
              <label for="ORNAMENT_TYPE">ORNAMENT_TYPE</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_MATERIAL ngModel name="ORNAMENT_MATERIAL" id="ORNAMENT_MATERIAL" required>
              <label for="ORNAMENT_MATERIAL">ORNAMENT_MATERIAL</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_SHOPFOR ngModel name="ORNAMENT_SHOPFOR" id="ORNAMENT_SHOPFOR" required>
              <label for="ORNAMENT_SHOPFOR">ORNAMENT_SHOPFOR</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #WEIGHT ngModel name="WEIGHT" id="WEIGHT" required>
              <label for="WEIGHT">WEIGHT</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_METAL ngModel name="ORNAMENT_METAL" id="ORNAMENT_METAL" required>
              <label for="ORNAMENT_METAL">ORNAMENT_METAL</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_OCCASION ngModel name="ORNAMENT_OCCASION" id="ORNAMENT_OCCASION" required>
              <label for="ORNAMENT_OCCASION">ORNAMENT_OCCASION</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_GIFT ngModel name="ORNAMENT_GIFT" id="ORNAMENT_GIFT" required>
              <label for="ORNAMENT_GIFT">ORNAMENT_GIFT</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_THEME ngModel name="ORNAMENT_THEME" id="ORNAMENT_THEME" required>
              <label for="ORNAMENT_THEME">ORNAMENT_THEME</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_CURATED_BY ngModel name="ORNAMENT_CURATED_BY" id="ORNAMENT_CURATED_BY" required>
              <label for="ORNAMENT_CURATED_BY">ORNAMENT_CURATED_BY</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #ORNAMENT_FESTIVAL ngModel name="ORNAMENT_FESTIVAL" id="ORNAMENT_FESTIVAL" required>
              <label for="ORNAMENT_FESTIVAL">ORNAMENT_FESTIVAL</label>
            </div>
          </div>
          <input type="file" #CAD_FILE accept="image/*" (change)="handleFileInput($event.target.files)">

          <input type="file" #IMAGE_FILE_ONE accept="image/*" (change)="handleFileInputone($event.target.files)">

          <input type="file" #IMAGE_FILE_TWO accept="image/*" (change)="handleFileInputtwo($event.target.files)">

          <input type="file" #IMAGE_FILE_THREE accept="image/*" (change)="handleFileInputthree($event.target.files)">

          <button type="submit" class="btn-large btn-submit" [disabled]="CAD_FILE.value=='' || !imageForm.valid">Create new form</button>
        </form>
      </div>
    </div>
</div>