/* You can add global styles to this file, and also import other style files */

.nav-wrapper{
    background-color: #3bb78f;
    background-image: linear-gradient(135deg, #0f2542 0%, #38547B 100%);
    margin-bottom: 10px;
}
div.card-panel{
    margin: 0px;
    padding: 2rem;
    background-color: #38547b;
    color: #fff;
    background-image: linear-gradient(135deg, #0f2542 0%, #38547B 100%);

}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card-content {
    padding: 2px 6px;
  }

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 431px;
    min-height: 375px;
    max-width: 434px;
    max-height: 375px;
}

div.card{
    color: #fff;
    width: 100%; 
    height: 100%;
}

div.sm-jumbotron{
    margin: 0px;
    padding: 2rem;
    background-color: #38547b;
    color: #fff;
    background-image: linear-gradient(135deg, #0f2542 0%, #38547B 100%);

}

button.btn-submit{
    background-color: #203e64;
    color: #fff;
    width: 100%;
    border-radius: 15px;
}

button.btn-submit:focus,button.btn-submit:hover{
    background-color: #2f578f;
}
table, th, td {
    border: 1px solid ghostwhite;
    border-collapse: collapse;
  }
table{
    border-radius: 4px;
  }
th, td {
    padding: 5px;
    color: black;
    text-align: left; 
    font-size: x-small;
}
.page-footer{
    align-self: center;
    background-image: linear-gradient(135deg, #0f2542 0%, #38547B 100%);
    
}

h5, p, a{
    color: black;
}
i.material-icons{
    color: black;
}
